.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.ipynb_checkpoints
.DS_Store
venv/
.virtual_documents/
taxonomic_dist_by_soil_layer/python/contig_notebook_session.pkl
__pycache__/
.pyc
over_representation/R/Draft1.Rmd
over_representation/R/temp_gff.gff
over_representation/python/overrepresentation_notebook_.ipynb
over_representation/R/overrepresentation_notebook.Rmd
over_representation/R/overrep_figure.png
