name: Execute modified R notebooks on PR (NEW)

on:
  pull_request:
    paths:
      - '**.ipynb'
      - '**.R'
      - 'renv.lock'
      - '.github/notebooks-config.json'
      - '.github/workflows/notebook-test-r-reusable.yml'
      - '.github/workflows/notebook_check_R_PR.yml'

jobs:
  test-changed-r-notebooks:
    uses: ./.github/workflows/notebook-test-r-reusable.yml
    with:
      notebook_selection: 'changed'
      base_sha: ${{ github.event.pull_request.base.sha }}
      head_sha: ${{ github.event.pull_request.head.sha }}