name: (dev) Execute python notebooks

on:
  workflow_dispatch:
  #TODO: enable scheduled and push triggers after dev API is re-implemented
  #schedule:
  #  - cron: "0 0 * * 0"
  #push:
  #  branches:
  #    - main

jobs:
  test-notebooks-dev:
    uses: ./.github/workflows/notebook-test-reusable.yml
    with:
      environment: 'dev'
      notebook_selection: 'all'