name: Execute R notebooks

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"
  push:
    branches:
      - main

jobs:
  test-r-notebooks:
    uses: ./.github/workflows/notebook-test-r-reusable.yml
    with:
      notebook_selection: 'all'